[submodule "cm/assignments/BusinessCard"]
	path = cm/assignments/BusinessCard
	url = git@github.com:cheestree/business-card.git
[submodule "cm/assignments/DiceRoller"]
	path = cm/assignments/DiceRoller
	url = git@github.com:cheestree/dice-roller.git
[submodule "cm/assignments/MarsPhoto"]
	path = cm/assignments/MarsPhoto
	url = git@github.com:cheestree/mars-photo.git
