[submodule "cm/assignments/BusinessCard"]
	path = cm/assignments/BusinessCard
	url = git@github.com:cheestree/business-card.git
[submodule "cm/assignments/DiceRoller"]
	path = cm/assignments/DiceRoller
	url = git@github.com:cheestree/dice-roller.git
[submodule "cm/assignments/MarsPhoto"]
	path = cm/assignments/MarsPhoto
	url = git@github.com:cheestree/mars-photo.git
[submodule "ppc/assignments"]
	path = ppc/assignments
	url = git@github.com:cheestree/prog-paral-conc-2025.git
[submodule "cm/assignments/SmartBoy"]
	path = cm/assignments/SmartBoy
	url = git@github.com:cheestree/comp-movel-2025.git
